h1 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 75px;
  font-weight: bold;
  font-family: "Helvetica", sans-serif;
  margin: 0px;
  padding: 10px;
  padding-bottom: 40px;
}
body {
  background-color: rgb(150, 150, 150);
}
.links {
  position: relative;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  bottom: 50px;
  left: 10px;
  margin: 0px;
}
h2 {
  font-family: "Helvetica", sans-serif;"
  font-size: 30px;
}
a:hover, a:active, a:focus {
  background-color: rgb(100, 100, 100);
}
.content {
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  padding-left: 10px;
  position: relative;
  padding-bottom: 20px;
  padding-right: 10px;
  font-family: "Courier", monospace;
  font-weight: bold;
  line-height: 2em;
}
.home-img {
  position: relative;
  bottom: 60px;
}
.yt {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
.next-flight {
  border: 1px dotted white;
  padding-left: 10px;
  padding-bottom: 5px;
}
.imgs {
  position: relative;
  bottom: 25px;
}
